<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    [템플릿 설명]
    - 해당 파일은 SQL 문을 작성하는 곳입니다.
    쿼리 응답값으로 AccountMyBatisVO 에 맵핑
-->
<mapper namespace="me.hyewon.jpa.mybatis.mapper.AccountMapper">

    <select id="selectAccount" resultType="me.hyewon.jpa.mybatis.vo.AccountMyBatisVO">
        SELECT id,
               username,
               password
        FROM account
        WHERE id = #{id}
    </select>

    <insert id="insertAccount" parameterType="me.hyewon.jpa.mybatis.vo.AccountMyBatisVO"> /* VO 에 응답값을 주게 됨*/
        INSERT INTO account(username, password)
        VALUES (#{username}, #{password}); /* username 과 password 는 vo 필드명을 그대로 사용*/
    </insert>

</mapper>